{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite-Vote Record Page{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">Vote Record</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'group:vote' %}">Vote</a></li>
            </ul>
        </div>
    </div>


    <div class="l_wrap fl clearfix">
          <div class="panel-body">
            {% for record in records  %}
              <div class="record">
                  <h3><lable>Records:</lable></lable><a href="{% url 'group:vote_record' %}">{{record.vote_record }}</a> </h3>
              </div>
            {% empty %}
              <div class="vote">
                  <h3>There is no record</h3>
              </div>
            {% endfor %}
          </div>
    </div>

{% endblock body %}