{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite-Vote Record Page{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">Vote Record</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'group:vote' %}">Back</a></li>
            </ul>
        </div>
    </div>

          <div class="list_group">
            <h3>{{ vote_records }}</h3>
          </div>





{% endblock body %}